services:

  nginx:
    image: nginx:alpine
    container_name: api-gateway-nginx
    ports:
      - "9000:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - backend

  backend:
    build: ./backend
    expose:
      - "9000"
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    depends_on:
      - nginx

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"