body {
  margin: 0;
  font-family: "Space Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #12100e;
}

code {
  font-family: "IBM Plex Mono", Menlo, Monaco, Consolas, "Courier New", monospace;
}

#root {
  min-height: 100vh;
}
